body{
    margin-top: 0%;
    padding: 10px;
    font-family:monospace;
    background-color: #f1f1f1;

}
#heading1{
    margin: 0%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1.5em;
    padding: 0px;
    color: #000000;
    text-align:justify;

}  
#f1{
    width: 100px;
    margin: 0%;
    margin-left: 40px;
    display: grid;
    grid-template-columns: 35px 330px 540px 70px 190px 100px 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 0px;
    justify-content: space-evenly;
    padding: 10px;
}
#button1
{
    color: #000000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #ffffff;
    border: none;
    height: 40px;
}
#button1:hover
{
    background-color: #f0f0f0;
}
#button1 i{
    align-content: center;
    margin-top: 4px;
    margin-left: 2px;
    color: #000000;
}
#button2
{
    color: #000000;
    border-radius: 350px;
    border:none;
    outline: none;
    background-color: #ffffff;
    height: 40px;
    width: 40px;
    margin-left: 15px;
    cursor: pointer;
}
#button2 i{
    align-content: center;
    margin-left: 5.5px;
    color: #000000;
}
#button3
{
    border-radius: 50px;
    width: 100px;
    height: 40px;
    font-size: medium;
    margin-left: 50px;
    cursor: pointer;
    border:none;
    background-color: #ffffff;
}
#button4{
    margin-left: 60px;
    border-radius: 500px;
    width: 40px;
    height: 40px;
    font-size: medium;
    border:none;
    outline: none;
    cursor: pointer;
}
#button4 i{

    align-content: center;
    margin-left: 4px;
    color: #000000;
} 
#button5{
    margin-left: 10px;
    border-radius: 5800px;
    width: 40px;
    height: 40px;
    font-size: medium;
    border:none;
    outline: none;
    cursor: pointer;
}
#button5 i{
    align-content: center;  
    margin-left: 4px;
    color: #000000;
}
#input1
{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
    border: none;

    height: 20px;
}
i{
    display:inline-block;
    font-size: 18px;
    margin-right: 5px;
    color: #000000;
}
.scrollable-content {
    width: 180px;
    height: 670px;
    overflow: auto;
    padding: 10px;
  }

  /* Custom scrollbar */
  .scrollable-content::-webkit-scrollbar {
    width: 10px;
  }

  .scrollable-content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }

  .scrollable-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  .scrollable-content::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .button1{
    margin: -10px;
    display: flex;
    font-size: 15px;
    justify-content: left;
    gap: 10px; 
    text-align: left;
    border-radius: 10px;
    width: 180px;
    height: 38px;
    padding: 0px;
    line-height: 40px;
    align-items: center;
    border: #f0f0f0;
    border-top: #000000;
    transition: all 0.3s ease;
  }
  #h1{
    margin: 9px;
  }
  .button1:hover {
    background-color: #ced4db; /* Change background color */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Add shadow */
  }
#icon1{
    position: absolute;
    left: 25px;
    margin-right: 0px;
    font-size: 20px;
    color: #000000;
    cursor:pointer;
}
.center-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, auto); /* 2 rows */
    gap: 15px; /* Space between buttons */
    justify-content: center;
    align-items: center;
    margin-top: 50px; /* Adjust position below the search bar */
    position: absolute; 
    left: 57%; 
    transform: translateX(-50%);
}

.new-btn {
    width: 400px;
    height: 230px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 15px;
}

.new-btn:hover {
    background-color: #ddd;
}
